<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<footer class="bg-info py-3 py-md-5 text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3 mb-md-0">
        <p class="mb-2">Socials:</p>
        <div class="d-flex flex-column flex-md-row gap-4">
          <a href="/about" class="text-white btn btn-outline-dark btn-floating">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="/about" class="text-white btn btn-outline-dark btn-floating">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="/about" class="text-white btn btn-outline-dark btn-floating">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="d-flex flex-column gap-2">
          <div class="d-flex flex-column flex-md-row gap-4 justify-content-md-end">
            <a routerLink="/about" class="text-white">
              About Creators
            </a>
            <div class="w-2 h-6 bg-gray-500 d-none d-md-block"></div>
            <a routerLink="/about" class="text-white">
              Contact us
            </a>
          </div>
          <p class="mt-2 text-sm text-md-end">All rights reserved &copy; 2023 Rangkar</p>
        </div>
      </div>
    </div>
  </div>
</footer>
