<div class="container mt-5">
    <div class="row justify-content-md-center">
      <!-- Priyansh Profile detail -->
      <div class="col-md-4">
        <div class="card transition-all duration-150 bg-white shadow-lg rounded-md">
          <img class="card-img-top rounded border border-white mt-4 mx-auto w-25" src="https://github.com/preetam2109.png" alt="Preetam Lahre Profile">
          <div class="card-body text-center">
            <h3 class="">Preetam Chand Lahre</h3>
            <!-- <p class="card-text font-light">@shadow_priyansh</p> -->
            <p class="card-text font-normal">Pune</p>
            <p class="card-text font-light">Full stack Developer, avid reader. Love to write and play Basketball. Currently building scalable and responsive web applications using  Spring Boot  and Angular.</p>
            <div class="social-links">
              <a href="https://twitter.com/Preetamlahre3"  class="text-dark btn btn-outline-light btn-floating">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://github.com/preetam2109" class="text-dark btn btn-outline-light btn-floating">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://www.linkedin.com/in/preetam2109/"  class="text-dark btn btn-outline-light btn-floating">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Aditya Profile detail -->
      <!-- <div class="col-md-6">
        <div class="card transition-all duration-150 bg-white shadow-lg rounded-md">
          <img class="card-img-top rounded-full border-8 border-white mt-5 mx-auto w-50" src="https://github.com/preetam2109.png" alt="Aditya Gupta Profile">
          <div class="card-body text-center">
            <h3 class="card-title font-weight-bold">Preetam Lahre</h3>
            <p class="card-text font-light">@imaditya_gupta</p>
            <p class="card-text font-normal">Hyderabad</p>
            <p class="card-text font-light">Full Stack Web Developer proficient in the MERN stack. My love for programming and technology has driven me to learn and grow as a developer every day.</p>
            <div class="social-links">
              <a href="https://twitter.com/imaditya_gupta" target="_blank" class="text-xl">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="https://github.com/imaditya05" target="_blank" class="text-xl">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://www.linkedin.com/in/aditya-gupta05/" target="_blank" class="text-xl">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  