<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card image-container p-3">
                <img [src]="product.productImages[selectedProductIndex].url" class="img-fluid product-zoom-image">
            </div>

            <div class="mt-2">
                <mat-grid-list cols="3" gutterSize="10" rowHeight="1:1">
                    <mat-grid-tile *ngFor="let file of product.productImages; let i = index;" (click)="changeIndex(i)"
                        style="border: 1px solid lightgrey; cursor: pointer;">
                        <img [src]="file.url" height="100px">
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>

        <div class="col-md-6">
            <div class="product-information mt-3">
                <h2>{{product.productName}}</h2>
                <div class="mt-3">
                    <p>Description:</p>
                    <p>{{product.productDescription}}</p>
                </div>
                <div class="mt-3">
                    <p><b>Rs. {{product.productDiscountedPrice}}</b>&nbsp;&nbsp;<b
                            style="text-decoration: line-through;">{{product.productActualPrice}}</b></p>
                </div>
                <div class="mt-5 text-center">
                    <button mat-raised-button color="warn" style="width: 100%;" (click)="buyProduct(product.productId)">Buy
                        Now</button>
                    <div class="mt-2"></div>
                    <button mat-raised-button style="width: 100%;" (click)="addToCart(product.productId)">Add to Cart
                    </button>
                </div>

                <div *ngIf="product.productName ==='Portrait' " class="mt-3">
                    <div class="d-flex justify-content-end">
                        <div>
                            <div class="dropzone" appDrag (files)="fileDropped($event)">
                                <div class="text-wrapper">
                                    <div style="height: 90px;" class="card border shadow mt-4 p-1">
                                        Upload your photo
                                        <a (click)="selectFile.click()" class="browse-button">Here</a>
                                        <a href="mailto:preetamlahre2109@gmail.com">send</a>
                                    </div>
                                </div>
                            </div>
                            <input multiple type="file" style="display: none;" #selectFile value="select"
                                (change)="onFileSelected($event)">
                        </div>
                        <div class="mt-5">
                            <div class="row">
                                <mat-grid-list cols="4" rowHeight="1:1">
                                    <!-- Add image display logic here if needed -->
                                </mat-grid-list>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
