<div class="container mt-5">
    <div class="text-end mb-3">
        <button (click)="checkout()" color="primary" mat-raised-button>Checkout</button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Discounted Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let element of cartDetails">
                    <td>{{element.product.productName}}</td>
                    <td>{{element.product.productDescription}}</td>
                    <td>{{element.product.productActualPrice}}</td>
                    <td>{{element.product.productDiscountedPrice}}</td>
                    <td>
                        <button mat-raised-button color="warn" (click)="delete(element.cartId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
