table {
    width: 100%;
  }


  .custom-button {
    background-color: #17a2b8; /* Use the desired color */
    color: white; /* Text color */
  }
  
  .custom-button:hover {
    background-color: #138496; /* Adjust hover color as needed */
  }

  
  
  
  
  
  